{% load static %}
<html>
    <head> 
        <title>신입생 길라잡이 | 한서베이스</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        <noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
    </head>
    <body style="margin-left:20%; margin-right:20%; margin-top:10%; padding-bottom:40%;">
        <div style="border: 1px solid gray; border-radius: 30px; display:flex; flex-direction: column; align-items:center;">
            <div style="margin-right: 60px;">
                <div class="inner" id="header" style="padding-bottom:3%;">
                    <div class="container">
                        <a href="/" class="logo" style="margin-left:30%;">
                            <span class="symbol"><img src="/media/hanseo_logo.png" alt="" /></span><span class="title" style="font-size:20px">신입생 길라잡이</span>
                        </a>
                        <p style="margin-left:28%;">아래 양식을 확인해서 모두 입력해주세요!</p>
                    </div>
                </div>
                <!-- 로그인 폼 부분 -->
                <form method="POST" style="width:500px; margin-left:15%; margin-right:15%; ">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                      <input name="student_id" type="text" id="form2Example1" class="form-control" style="width:400px" />
                      <label class="form-label" for="form2Example1">Student ID</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input name="username" type="text" id="form2Example2" class="form-control" style="width:400px" />
                        <label class="form-label" for="form2Example2">Name</label>
                    </div>

                    <!-- <div class="form-outline mb-4">
                        <input name="password1" type="text" id="form2Example2" class="form-control" />
                        <label class="form-label" for="form2Example2">Major</label>
                    </div> -->
                  
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <input name="password1" type="password" id="form2Example2" class="form-control" style="width:400px" />
                      <label class="form-label" for="form2Example2">Password</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input name="password2" type="password" id="form2Example2" class="form-control" style="width:400px" />
                        <label class="form-label" for="form2Example2">Password Check</label>
                    </div>
                  
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-left:30%; margin-top:5%;">회원가입</button>
                </form>
            </div>
        </div>
    </body>
</html>