{% load static %}
<!DOCTYPE HTML>
<html>
	<head> 
		<title>신입생 길라잡이 | 한서베이스</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header" style="padding-bottom:100px;">
						<div class="inner">
                            <div class="container">
                                <div class="row">
                                  	<div class="col-3">
										<!-- Logo -->
										<a href="/" class="logo">
											<span class="symbol"><img src="/media/hanseo_logo.png" alt="" /></span><span class="title" style="font-size:20px">신입생 길라잡이</span>
										</a>
                                  	</div>
									<form method="get" action="{% url 'search:searchResult' %}">
									
										<div class="col-7">
											<div class="container">
												<div class="row height d-flex justify-content-center align-items-center">
												<div class="col-md-8">
													
													<div class="search">
														<input type="text" class="form-control" placeholder="검색" style="height:40px" name="kw">
														<button type="submit"class="btn btn-primary" style="height:30px">Search</button>
													</div>
												
												</div>
												</div>
											</div>
										</div>
									</form>
                                </div>
                            </div>
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
            			{% if user.is_authenticated %}
						  <h2>안녕하세요. {{ user.username }}님</h2>
						{% else %}
						  <h2>환영합니다🙆🏻‍♂️</h2>
						{% endif %}
						<ul>
             				{% if user.is_authenticated %}
							<li><a href="">마이페이지</a></li>
							<li><a href="{% url 'logout' %}">{{ user.username }} 로그아웃</a></li>
              				{% else %}
              				<li><a href="/accounts/login">로그인</a></li>
							<li><a href="/accounts/signup">회원가입</a></li>
              				{% endif %}
						</ul>
					</nav>
                {% block content %}
				
                {% endblock %}
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; 한서대학교 Database 캡스톤디자인</li><li>Team HANSEOBASE</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>