{% extends 'subbase.html' %}
{% load static %}

{% block content %}
<div id="main">
	<div class="inner">
		<div class="row" style="margin-top:-70px">
			<div class="col-10">
				<h1>동아리</h1>
			</div>
			<div class="col-1">
                {% if user.is_authenticated %}
				<a href="{% url 'club_create' %}"><button class="btn btn-primary" style="height:40px; margin-left:-15px; display:flex; align-items:center;">동아리 등록하기</button></a>
                {% endif %}
			</div>
		</div>
		<div>
            <p>한서대학교 동아리에 대한 정보입니다. 추가하고 동아리가 있다면 추가해서 모두에게 공유하세요!</p>
        </div>
		<span class="image main"><img src="{% static 'images/club.png' %}" alt="" /></span>
		<div>
			<h2 style="margin-bottom:-70px;">교내 동아리 정보</h2>
			<section class="tiles">
				{% for club in clubs %}
                    <article class="style1">
                        <span class="image">
                            <img src="/media/{{ club.image }}" alt="" />
                        </span>
                        <a href="club/{{ club.id }}">
                            <h2>{{ club.name }}</h2>
                            <div class="content">
                                <p>{{ club.category }}</p>
                            </div>
                        </a>
                    </article>
                {% endfor %}
			</section>
		</div>
	</div>
</div>
{% endblock %}