{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="main">
	<div class="inner">
		<header>
			<h1>한서대학교 신입생 길라잡이에 오신걸 환영합니다.</h1>
			<p>평소 궁금했던 점을 해결하고, 자신의 노하우를 공유하세요.</p>
		</header>

		<div>
			<h2 style="margin-bottom:-70px;">자주 찾는 카테고리</h2>
			<section class="tiles">
				<article class="style1">
					<span class="image">
						<img src="{% static 'images/club_image.png' %}" alt="" />
					</span>
					<a href="/club">
						<h2>동아리</h2>
						<div class="content">
							<p>학교에 어떤 동아리가 있는지 궁금할 때 유용해요.</p>
						</div>
					</a>
				</article>
				<article class="style1">
					<span class="image">
						<img src="{% static 'images/hanseouniv.png' %}" alt="" />
					</span>
					<a href="/facility">
						<h2>학교 주변 시설</h2>
						<div class="content">
							<p>학교 주변에는 어떤 시설들이 있는지 궁금할 때 유용해요.</p>
						</div>
					</a>
				</article>
				<article class="style1">
					<span class="image">
						<img src="{% static 'images/scholarship.png' %}" alt="" />
					</span>
					<a href="generic.html">
						<h2>장학금</h2>
						<div class="content">
							<p>어떤 장학금을 받을 수 있는지 궁금할 때 유용해요.</p>
						</div>
					</a>
				</article>
				<article class="style1">
					<span class="image">
						<img src="{% static 'images/multimajor.png' %}" alt="" />
					</span>
					<a href="generic.html">
						<h2>다전공</h2>
						<div class="content">
							<p>복수전공/부전공에 대해서 궁금할 때 유용해요.</p>
						</div>
					</a>
				</article>
			</section>
		</div>
		<div class="row" style="margin-bottom:-100px; padding-top:100px;">
			<div class="col-10">
				<h2>선배들이 전하는 이야기</h2>
			</div>
			<div class="col-1">
				{% if user.is_authenticated %}
					<a href="{% url 'post_create' %}"><button class="btn btn-primary" style="height:40px; margin-left:-15px; display:flex; align-items:center;">게시글 작성하기</button></a>
                {% endif %}
			</div>
		</div>
		<section class="tiles">
			{% for p in post %}
			<article class="style1">
				<span class="image">
					<img src="/media/{{ p.image }}" alt="" style="width: 300px; height: 280px;" />
				</span>
				<a href="/post/{{ p.id }}">
					<h2>{{ p.title }}</h2>
					<div class="content">
						<p>{{ p.description }}</p>
					</div>
				</a>
			</article>
			{% endfor %}
		</section>
	</div>
</div>
{% endblock %}
				