{% extends 'subbase.html' %}
{% load static %}

{% block content %}
<div class="comment-form-wrap pt-5" style="margin-left:20%; margin-right:20%;">
    <h2 class="mb-5" style="color:black; font-weight:bold; font-size: 35px;">내가 전하는 이야기</h2>
    <div style="padding: 20px; border: 1px solid gray; border-radius: 30px; margin-bottom: 200px;">
        <form method="POST" action="{% url 'post_create' %}" enctype = "multipart/form-data">
            {% csrf_token %}
            <div class="form-group" style="padding-top:50px;">
                <label>제목</label>
                {{ post_form.title }}
            </div>
            <div class="form-group" style="padding-top:50px;">
                <label>설명</label>
                {{ post_form.description }}
            </div>
            <div class="form-group" style="padding-top:50px;">
                <label>본문</label>
                {{ post_form.content }}
            </div>
            <div class="form-group" style="padding-top:50px;">
                <label>썸네일</label>
                {{ post_form.image }}
            </div>
            <div class="form-group" style="padding-top:50px;"></div>
                <button type="submit" class="btn btn-primary">작성하기</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}