{% extends 'subbase.html' %}
{% load static %}

{% block content %}
<div id="main" style="margin-top:-70px;">
	<div class="inner">
		<h1>{{ result.name }}</h1>
        <p>카테고리 : {{ result.category }}</p>
        <p>연락처 : {{ result.tel_number }}</p>
        <p>관련 URL : <a href="{{ result.url }}"> 🔎</a></p>
        <div class="container">
            <div class="row">
              <div class="col">
                <img class="image" src="/media/{{ result.image }}" alt="" style="width:500px; heigth:500px;" />
              </div>
              <div class="col">
                <h3>내용</h3>
                <p style="width:500px">{{ result.content }}</p>
              </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}