{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="padding-left:50px;">
    <section class="tiles">
        {% for r in result %}
            <article class="style1">
                <span class="image">
                    <img src="/media/{{ r.image }}" alt="" />
                </span>
                <a href="/{{ r.table }}/{{ r.id }}">
                    <h2>{{ r.name }}</h2>
                    <div class="content">
                        <p>{{ r.category }}</p>
                    </div>
                </a>
            </article>
        {% endfor %} 
    </section>
</div>
{% endblock %}